*{
    margin: 0px;
}
.header{
    
        position: fixed;
    margin: 0px auto;
    width: 100%;
    height: 96px;
    background: rgb(5, 6, 9);
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}
.link{
    transition: 0.5s;
    cursor: pointer;
}
.link:hover{
    transition: 0.5s;
    border-bottom: 4px solid white;
}
.logo{
    padding-top: 30px;
    color: rgb(255, 255, 255);
    font-family: "KyivType Sans Light-";

    font-size: 30px;
    font-weight: 150;
    line-height: 36px;
    text-align: left;
    margin-left: 200px;
}

.header-links{

    margin-right: 400px;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 17px;
    width: 282px;
    display: flex;
    justify-content: space-between;
}
.first-block{
  
    height: 630px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    background: rgba(5, 6, 9, 0.7);
    background-image: url(img/image\ 28.png);
    background-size: cover;
}
.title-first{
   padding-top: 240px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0%;
text-align: center;
}

.desc-main-first{
    margin-top: 9px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
}
.second-block{
    width: 1920px;
    height: 621px;
    margin: 0px auto;
}

.main-things{

    margin: 100px 221px 17px 222px;
}
.text-second{
    display: flex;
}
.picture-second{
    margin-top: 40px;
    width: 758px;
height: 379px;
    border-radius: 10px;
margin-left: 260px;
background: url(img/image\ 24.png);
margin-bottom: 17px;
}
.eesti{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
font-size: 40px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0%;
text-align: center;
}
.t-s{
    margin-left: 261px;
    width: 336px;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;

}
.t-s-w{
    margin-left: 64px;
    width: 358px;
    color: rgb(0, 0, 0);
       font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
}

.third-block{
    display: flex;
    width: 1157px;
    height: 196px;
    margin: 0px auto;
    padding: 174px 221px 150px 0px;
}
.about-us{
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0%;
text-align: left;
}
.text-t-b{
margin-left: 249px;
width: 366px;
opacity: 0.6;
color: rgb(0, 0, 0);
font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 17px;
letter-spacing: 0%;
text-align: left;

}
.text-t-b-w{
margin-left: 34px;
width: 358px;
opacity: 0.6;
color: rgb(0, 0, 0);
font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 17px;
letter-spacing: 0%;
text-align: left;

}

.pictures-block{
    width: 1360px;
    margin: 0px auto;
  margin-left: auto;
}

.first-picture-block{
    
    padding-top: 20px;
    width: 1016px;
    display: flex;

}
.est-views{
    
    width: 252px;
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0%;
text-align: left;
}
.perv{
    margin-left: 150px;
    width: 385px;
height: 318px;

}
.snd{
    width: 219px;
height: 318px;
margin-left: 20px;

}

.second-pic-b{

  padding-top: 20px;
width: 1123px;
display: flex;
justify-content: space-between;
}



.trd-pic-b{
margin-left: 104px;
    padding-top: 20px;
    width: 995px;
    display: flex;
    justify-content: space-between;
}

.reviews{
    display: flex;
    width: 1150px;
    margin:194px auto 258px auto ;
    justify-content: space-between;
}

.card-rev{
    
    align-items: center;
    width: 356px;
height: 497px;
border-radius: 10px;
/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: linear-gradient(0.00deg, rgb(94, 136, 217) 100%,rgb(255, 255, 255) 113.682%);
}
.name{
    margin-left: 145px;
    color: rgb(238, 238, 238);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;


}
.desc-rev{
    margin-top: 20px;
    margin-left: 46px;
width: 264px;
color: rgb(238, 238, 238);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
}
.pic-pfp{
   margin: 50px 101px 20px 101px ;
}
.name2{
   margin-left: 158px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;

}
.desc-rev2{
    margin-top: 20px;
    margin-left: 46px;
    width: 264px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
}
.card-rev2{
    width: 356px;
    height: 497px;
    align-items: center;
    border-radius: 10px;
/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(78, 67, 87);
}
.card-rev3{
    width: 356px;
    height: 497px;
    align-items: center;
    box-sizing: border-box;
/* #A6ABD2 */
border: 1px solid rgba(166, 171, 210, 0.8);
border-radius: 10px;
/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(255, 255, 255);
}






.buttons-container{
    justify-content: space-between;
    width: 1044px;
    display: flex;
    flex-wrap: wrap;
    height: 86px;
    margin: 30px auto;
}

.hot-sales{
    border: none;
    width: 139px;
height: 37px;
border-radius: 10px;
/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(255, 142, 38);
align-items: center;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
text-align: center;
transition: 0.5s;
}
.hot-sales:hover{
    transition: 0.5s;
    cursor: pointer;
    background: rgb(233, 150, 72);
}
.soon{
    border: none;
    border-radius: 10px;

/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(78, 67, 87);
width: 73px;
height: 37px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
transition: 0.5s;
align-items: center;
}
.soon:hover{
    transition: 0.5s;
    cursor: pointer;
    background: rgb(109, 86, 128);  
}
.kids{
    border: none;
    box-sizing: border-box;
/* #A6ABD2 */
border: 1px solid rgba(166, 171, 210, 0.8);
border-radius: 10px;

/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(255, 255, 255);

align-items: center;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;

width: 95px;
height: 37px;
transition: 0.5s;
}
.kids:hover{
    transition: 0.5s;
    background: rgb(180, 180, 180);
cursor: pointer;
}
.city{
    border: none;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;

border-radius: 10px;

/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(94, 136, 217);

width: 101px;
height: 37px;
transition: 0.5s;
  
cursor: pointer;
}
.city:hover{ transition: 0.5s;
  
cursor: pointer;
    background: rgb(70, 98, 155);
    
}
.qwq{
    color: rgb(255, 255, 255);
}
.popular{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
border: none;
box-sizing: border-box;
/* #A6ABD2 */
border: 1px solid rgba(166, 171, 210, 0.8);
border-radius: 10px;

/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(255, 255, 255);

width: 115px;
height: 37px;
transition: 0.5s;
}
.popular:hover{
    transition: 0.5s;
  
cursor: pointer;
background-color: aliceblue;
}
.newseas{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
border: none;

width: 141px;
height: 37px;
border-radius: 10px;
transition: 0.5s;
  
/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(94, 136, 217);
}
.newseas:hover{
    transition: 0.5s;
  
cursor: pointer;
background-color: rgb(179, 205, 228);
}

.group{
    border-radius: 10px;

/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(78, 67, 87);
width: 135px;
height: 37px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
}

.how-long{
    border-radius: 10px;

/* тень */
box-shadow: 0px 4px 4px 0px rgba(39, 50, 145, 0.43);
background: rgb(94, 136, 217);

width: 128px;
height: 37px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
text-align: center;
}

.date{
    border-radius: 10px;

background: rgb(78, 67, 87);
width: 181.39px;
height: 37px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
}

.search{
    border-radius: 10px;

background: rgb(94, 136, 217);
width: 834.97px;
height: 39px;
padding: 10px 15px 10px 15px;
color: aliceblue;
}


.cards{
width: 1160px;
height: 820px;
margin: 80px auto 50px auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.card{
    width: 454px;
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.card-t{
    margin-left: 20px;
    height: 210px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.title-of-card{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.list-of-the-card{
    width: 145px;
    display: flex;
    flex-direction: column;
    
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 25 px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;

}
.days{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.85;

}
.city-of-card{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
.more{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 25 px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
}

.footer{
    width: 100%;
height: 384px;
background: rgb(5, 6, 9);
}
.items-footer-and-logo{
    padding: 50px 224px;
}
.logo-footer{
 
    color: rgb(255, 255, 255);
    font-family: "KyivType Sans Light-";
    font-size: 30px;
    font-weight: 350;
    line-height: 36px;

}
.location-footer{
    display: flex;
    
}
.phone-footer{
    display: flex;
    margin-left: 100px;
}
.social-footer{
    margin-left: 100px;
}
.items-footer{
    margin-left: 220px;
    display: flex;
}
.title-footer{
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
.text-footer{
margin-left: 10px;
}
.places-text{
    margin-top: 15px;
    height: 126px;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;

}
.vecr{
    width: 18px;
    height: 21px;
}
.footer-central{
    margin: 0px auto;
    width: 970px;
}

.soc-line{
    margin-top: 10px;
    display: flex;
}
.f-t-t{
    margin-left: 5px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
}
.lin{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;

}

.image-card:hover{
  

}